@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Euphoria+Script&family=Libre+Baskerville:wght@700&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #f1ebe5;
    margin: 10;
}

.introduction {
    width: 100%;
    height: 750px;
    display: block;
}

.stratton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
}

.pic > img {
    height: 75%;
    width: 85%;
    display: flex;
    justify-content: center;
}

.person {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.name > h1 {
    font: 'Playfair Display';
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
    border: #89321b;
    border-radius: 80%;
    margin: 10px;
    width: 90%;
    text-align: center;
    color: #89321b;
}

.name > p {
    margin: 8px;
    font-size: 20px;
    font: 'Playfair Display';
    color: #89321b;
    width: 90%;
}

.point-one {
    width: 100%;
    height: 650px;
    color: #f1ebe5;
    background-color: #89321b;
    display: flex;
    flex-flow: wrap row;
}

.point {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.point > p {
    width: 80%;
    color: #f1ebe5;
    display: flex;
    font: 'Playfair Display';
    font-size: 22px;
    margin: 10px;
}

.point > h1 {
    width: 80%;
    color: #f1ebe5;
    display: flex;
    font: 'Playfair Display';
    font-size: 35px;
    margin: 10px;
    font-style: italic;
    justify-content: center;
    text-align: center;
}

.picture > img {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 75%;
    align-content: center;
    justify-content: center;
}

.point > a {
	border-color: #f1ebe5;
	box-shadow: none;
    border: solid #f1ebe5;
}

.read-more {
	font-family: 'Playfair Display';
	font-size: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
    text-decoration: none;
	border-radius: 3px;
	color: #f1ebe5;
	width: 20%;
	height: 35px;
    margin: 10px;
}

.picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-content: center;
}

.picture-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    height: 100%;
    align-content: center;
}

.point-two {
    width: 100%;
    height: 650px;
    color: #89321b;
    background-color: #f1ebe5;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.point-two-p {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.point-two-p > h1 {
    width: 80%;
    color: #89321b;
    display: flex;
    font: 'Playfair Display';
    font-size: 45px;
    margin: 10px;
    font-style: italic;
}

.point-two-p > p {
    width: 80%;
    color: #89321b;
    display: flex;
    font: 'Playfair Display';
    font-size: 20px;
    margin: 10px;
}

.picture-two > img {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 75%;
    align-content: center;
    justify-content: center;
}

a {
	border-color: #89321b;
	box-shadow: none;
    border: solid #89321b;
}

.read-more-2 {
	font-family: 'Playfair Display';
	font-size: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
    text-decoration: none;
	border-radius: 3px;
	color: #89321b;
	width: 20%;
	height: 35px;
    margin: 10px;
}